body{
	/*background: #efefef;*/
}
.container-fluid{
	background: #fff;
	margin-top: 30px;
}

th > a {
	/*color: #fff;*/
	color: #1a355e;
	text-decoration: none !important;
}
th {
	font-weight: 600;
	font-size: 1.0em;	
}
.table-bordered > thead > tr > th {
	/*border-color: transparent;*/
	background: #eee;
}
.form-inline .form-control {
  width: 100%;
}
.panel {
  margin-bottom: 0px;
}
hr {
  border-color: #8f2041;
  margin: 0 0 20px 0;
}
.page-header {
  margin-bottom: 5px;
  font-weight: 600;
}
.priority-1{
	color: #8f2041;
}
.priority-7{
	color: #1a355e;
}
.priority-14{
	color: #41a85f;
}
.priority-30{
	color: #f39c12;
}
