body{
	/*background: #efefef;*/
}
.container{
	background: #fff;
	margin-top: 30px;
}
@media (min-width: 1900px){
	.container {
		width: 1890px;
		
	}
}
th > a {
	/*color: #fff;*/
	color: #1a355e;
	text-decoration: none !important;
}
th {
	font-weight: 600;
	font-size: 1.0em;	
}
.table-bordered > thead > tr > th {
	/*border-color: transparent;*/
	background: #eee;
}